<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Meu Catálogo{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Meu Catálogo Pessoal</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Ver Catálogo</a></li>
            <li><a href="{{ url_for('adicionar') }}">Adicionar Obra</a></li>
            <li><a href="{{ url_for('estatisticas') }}">Estatísticas</a></li>
        </ul>
    </nav>
    <main>
        {%with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
    
</body>
</html>